:root {
    --fonts-heading: brandon-grotesque-mobile, "Helvetica Neue", Helvetica, arial, sans-serif;
    --fonts-base: Gotham-mobile, "Helvetica Neue", Helvetica, arial, sans-serif;
    --body-text-color: #1D1D1D;
    --body-bg-color: #FFFFFF;
    --body-color: #2f2f2f;
    --nav-bg-color: #000;
    --info-color: #666;
    --btn-color: #f5ce35;
    --footer-text-color: #FFFFFF;
    --footer-background-color: #1D1D1D;
    --card-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
  }
  
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
  }

