
body{
    background-color: var(--body-bg-color);
    color: var(--body-color);
    
}

.navbar {
    background-color: var(--nav-bg-color) ;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7.5rem;
  }

  .navbar a {
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
  }

  .navbar a:hover {
    border-bottom: 3px solid crimson;
  }



  .navbar-content {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }

  .navbar-content::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and newer Edge */
  }

  .main-section{
    margin: 20px;
  }

  .banner-section{
    background:rgba(0,0,0,0.5)url(images/banner.webp);
    background-blend-mode: darken;
    position: relative;
    height: 600px; /* Set the desired height */
    background-size: cover;
    background-position: center;
    color: white;
    line-height: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 3em;
    font-size: 1.5em;
  }


.banner-section .text-overlay h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}


.banner-btn{
    border-radius: 4px;
    border: none;
    padding: 18px 35px;
    
}  


button{
    background-color: var(--btn-color);
}

button:hover{
    opacity: 1.5;
    cursor: pointer;
}


/* Food Collection */

.food-collection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;

}

.food-collection .item1{
  background-image: url(images/what-we-are-craving-for.webp);

}
.food-collection .item2{
  background-image: url(images/what-we-are-craving-for2.webp);
}
.food-collection .item3{
  background-image: url(images/what-we-are-craving-for3.webp);
}
.food-collection .item1, .item2, .item3{
  height: 370px; /* Set the desired height */
  width: 380px;
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: 5px;
  line-height: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  
}
.food-collection h2, p{
  width: 80%;
  margin-left: 10px;
  font-weight: bold;
}

.food-collection h2{
  line-height: 2rem;
}

.title{
  /* border-bottom: 3px solid crimson; */
  margin-top: 40px;
}
.more{
  display: flex;
  flex-wrap: wrap;
  flex: 250px;
  justify-content: space-between;
  width: 100%;
}
.food{
  width:14%;
  text-align: center;
}
.food img{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  
}
.explore{
  padding: 3rem;
}
 
 article{
   display:flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
   background-color: #f7f6f6;
   gap:20px;
   padding:30px;
 }
 article p{
   line-height:24px;
   margin:20px 0;
  }
   
   article{
     display:flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 20px;
     background-color: #faf9f9;
     gap:20px;
     padding:30px;
   }
   article p{
     line-height:2;
     margin:20px 0;
     font-family: var(--fonts-base);
     font-weight: 400;
     font-size: 16px;
     --current-line-height: 24px;
     letter-spacing: 0;
   
            }
 .article-image{
  width: 100%;
  height:100%;
 }
 .article-image img{
  width:100% ;
 }